#sidepanel {
    width: 300px;
    position: absolute;
    top: 100px;
    right: 50px;
}

#sidepanel .paneltop {
    width: 100%;
    height: 21px;
    background: #4973ae;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}

#sidepanel .paneltop p{
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
    align-self: center;
    margin: auto;
    padding-top: 2px;
    cursor: default;
}

#sidepanel .paneltop #close{
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(-50%,-50%);
    height: 13px;
    cursor: pointer;
    opacity: .7;

}

#sidepanel .paneltop #close:hover {
    opacity: 1;
}

#sidepanel .paneltop #open{
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(-50%,-50%);
    height: 13px;
    cursor: pointer;
    opacity: .7;
}

#sidepanel .paneltop #open:hover {
    opacity: 1;
}

#sidepanel .panelbody {
    height: 400px;
    background: white;
    border: solid #4973ae 3px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
